/* * {
    margin: 0;
    padding: 0;
  
    font-family: Arial, sans-serif;
    color: rgb(3, 3, 3);
  }

  body {
    line-height: 1.6;
    background-color: #020202;
    color: #333;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
  }

  form {
    background-color: rgb(92, 92, 92);
    padding: 20px;
    border-radius: 8px;
}

input[type="button"] {
    background-color: #fbfcfc;
    color: rgb(10, 10, 10);
    border: none;
    padding: 20px 100px;
    border-radius: 10px;
} */

.button {
    background-color: white;
    padding: 5px;
}